.container {
    display: grid;
    Grid-template-columns: 4fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 1250px;
}

.container:hover .stat {
    background: rgba(255, 255, 0, .2)
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid black 1px;
}

.name {
}

.year {
}

.pts {
    border-right: none;
}

/* .flashit {
    animation: flash linear 1s infinite;
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opactiy: 1; }
} */