@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
}

.darkMode {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 30px 50px 0;
    padding: 0;
}

.mainPart {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.selector {
    margin: 3px;
}