@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 15px 30px 15px 80px;
}

.mainPart {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.selector {
    margin: 3px 3px 30px;
}

.selectorsAndGraphWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selectorsWrapper {
    margin: 0 50px 0 0;
}